{% extends "base.html" %}

{% block title %}
  Resume - Add Project
{% endblock %}

{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
	<div class="my-auto">
        <h2 class="mb-5">{{ title }}</h2>
        <div class="col-sm-12 form-row field-desc">
        	<form id="form" method="GET" action="{% url 'cv:saveproject' %}">
	        	{% csrf_token %}
	          {{ addproject_form.as_p }}
 
            <!-- <div class="form-group">
              <label for="id_position">Your Position</label>
              <input type="text" class="form-control" id="id_position"placeholder="Enter position" name="position" required>
            </div>
            <div class="form-group">
              <label for="id_title">Title of Project</label>
              <input type="text" class="form-control" id="id_title"placeholder="Enter title" name="title" required>
            </div>
            <div class="form-group">
              <label for="id_description">Description of Project</label>
              <textarea class="form-control" id="id_description" rows="3" name="description" required></textarea>
            </div> -->
	        	<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
       		</form>
        </div>
    </div>
</section>

{% endblock %}