{% extends "base.html" %}

{% block title %}
  Resume - Iis Afriyanti 
{% endblock %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
          <h1 class="mb-0">Iis 
            <span class="text-primary">Afriyanti</span>
          </h1>
          <div class="subheading mb-5">R. 3212 A, Faculty of Computer Science, Universitas Indonesia, 16424, +62 21 786 3419 (ext 2502)
            <a href="mailto:iisafriyanti@cs.ui.ac.id">iisafriyanti@cs.ui.ac.id</a>
          </div>
          <p class="mb-5">I am a junior lecturer and research asssitant in Fasilkom UI. I love to learn new things related with linked data, open data, web, database, knowledge graph, and semantic web. </p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://twitter.com/iisafriyanti91">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://iisafriyanti.tumblr.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://medium.com/@iisafriyanti91">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/iisafriyanti/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/iisafriyanti/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portofolio">
        <div class="my-auto">
          <h2 class="mb-5">My Portofolio</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
          I love to share my works on several repositories. You can look at my <a href="https://gitlab.com/iisafriyanti">Gitlab</a> and <a href="https://github.com/iisafriyanti"></a> to see the repositories. Or you may be interested in my portofolio related with research projects and publications on my <a href="https://www.researchgate.net/profile/Iis_Afriyanti2">Research Gate</a> and my other experiences on my <a href="https://www.linkedin.com/in/iisafriyanti/">LinkedIn</a>.
        </div>
        </div>

      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">On Going Projects</h2>
          
          

            {% if project %}
              {% for data in project %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                <h3 class="mb-0">{{ data.position }}</h3>
                <div class="subheading mb-3">{{ data.title }}</div>
                <p>{{ data.desc }}</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">{{ data.created_date }}</span>
                </div>
                </div>
              {% endfor %}
            {% else %}
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Research Assistant</h3>
              <div class="subheading mb-3">Semantic Web for Knowledge Management of Higher Education in Indonesia</div>
              <p> Semantic Web-based system to accommodate the heterogeneity data of higher education.</p>
              </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2017 - Present</span>
            </div>
            </div>
            {% endif %}

          
          <a href="{% url 'cv:addproject' %}" class="btn btn-primary">Add Project</a>
        </div>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-codeigniter"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-django"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-postgresql"></i>
            </li>
          </ul>
        </div>
      </section>
    
{% endblock %}